*{
	box-sizing: border-box;
}
body{
	overflow: hidden;
}
.el-table{
	border-top:1px solid #ebeef5;
	border-left:1px solid #ebeef5;
	border-right:1px solid #ebeef5;
}
.el-table thead tr th{
	background-color: #f5f7fa;
	color: #606266;
}
.search .el-input{
	width:150px;
}
.el-cascader{
	width:100%;
}
.el-select{
	width:100%;
}
.el-pagination{
	text-align: center;
	padding-top: 18px;
}
.right{
	float: right;
}
.left{
	float: left;
}